/*
Variables css (custom properties)
Proposito: Centralizar colores fuentes y tamaños para facil mantenimiento
Beneficios: Cambios globales desde un solo lugar-*/

:root{
    --color-primario: #057d47;
    --color-secundario: #266477;
    --color-fondo: #f8f9fa;
    --color-texto: #192391;
    --color-borde: #e9ecef;
}

/*
Recet basico
Proposito: Eliminar margenes y paddings predeterminados del navegador.
Beneficios: Evita inconsitencias entre navegadores-*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*estilos generales
tipografia y fondo*/
body{
    font-family: 'Inter', sans-serif;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    padding: 40px 20px;
}

/*contenedor principal
*/

.contenedor{
    max-width: 600px;
    margin: 0 auto;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

/* estilos tipograficos*/

h1{
    font-size: 28px;
    color: var(--color-primario);
    margin-bottom: 8px;
    text-align: center;
}

#materia{
    font-size: 15px;
    color: var(--color-secundario);
    margin-bottom: 8px;
    text-align: center;
}

.nombre{
    font-size: 12px;
    color: var(--color-secundario);
    margin-bottom: 8px;
    text-align: center;
    font-style: italic;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-secundario);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: sans-serif;
    cursor:pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
  }


.boton:hover{
    background-color: #2a0880;
}